backports.ssl-match-hostname==3.5.0.1
backports.weakref==1.0rc1
bleach==3.1.1
certifi==2018.4.16
chardet==3.0.4
colorama==0.3.7
docker==3.3.0
docker-pycreds==0.3.0
docutils==0.12
funcsigs==1.0.2
futures==3.0.5
html5lib==0.9999999
idna==2.6
ipaddress==1.0.22
jmespath==0.9.0
Markdown==2.6.8
mock==2.0.0
netifaces==0.10.6
numpy==1.13.1
pbr==3.1.1
protobuf==3.3.0
pyasn1==0.1.9
python-dateutil==2.6.0
requests==2.20.0
rsa==3.4.2
s3transfer==0.1.9
simplejson==3.10.0
six==1.10.0
urllib3>=1.23
websocket-client==0.48.0
Werkzeug==0.15.3
